/********** Base styles **********/
* {
  box-sizing: border-box;
  
}
h1 {
  margin-bottom: 15px;
  color: red;
  text-align: center;
  background-color: black

}

p {
  padding: 20px;
  border: 1px solid black;
  background-color: black;
  width: 90%;
  height: 200px;
  margin-right:auto;
  margin-left: auto;
  font-family: Helvetica,arial;
  color: red;

}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

 span.floatingbox{
            padding: 12px 15px 12px 15px;
            /*border: 1PX solid black;*/
            margin-top: 5px;
            color: black;
            text-decoration: underline;
            margin-left: 5px;
            float: right;
}

#box1{
            background-color: red;
}
#box2{
            background-color: red;
}
#box3{
            background-color: red;
}
 

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1 {
    padding: 20px;
    
    float: left;
    
  }
  .col-lg-1 {
    width:  33.33%;
  }

}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2{
    padding: 20px;
    float: left;
   
  }
  .col-md-1 {
    width: 50%;
  }
  .col-md-2 {
    width: 100%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px){
  .col-xs-1{
    padding: 20px;
    float: left;
  }
  .col-xs-1{
    width: 100%;
  }
}
